@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #b45309;
  --primary-hover: #92400e;
  --secondary: #78350f;
  --accent: #f59e0b;
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes progress {
  0% {
    transform: translateX(-100%) scaleX(0.2);
  }
  50% {
    transform: translateX(-10%) scaleX(0.6);
  }
  100% {
    transform: translateX(100%) scaleX(1);
  }
}

